@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --color-paynesgray: #19647E;
  --color-coyote: #7C6354;
  --color-skyblue: #82C0CC;
  --color-isabelline: #EDE7E3;
  --color-vanilla: #D4E09B;
  --color-cornsilk: #f8f7ff;
    --color-dusty-darkblue: #8296aa;
    --color-dusty-blue: #aab9cd;
    --color-dusty-lightblue: #cdd7e6;
    --color-dusty-green: #e1e1d7;
    --color-dusty-white: #faf5f5;
}

.orientation-blocker {
    display: none; /* Oculto por defecto */
    position: fixed;
    inset: 0;
    background-color: var(--background);
    color: var(--foreground);
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

@media (orientation: landscape) and (max-height: 600px) {
    .orientation-blocker {
        display: flex;
    }
}

@keyframes rotate-phone {
    0%, 40% {
        transform: rotate(90deg);
    }
    60%, 100% {
        transform: rotate(0deg);
    }
}

.phone-icon-animation {
    animation: rotate-phone 2.5s ease-in-out infinite;
}